/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat&family=Patrick+Hand&display=swap');

/* Спецификации */
body {
    font-family: 'Patrick Hand', cursive;
    font-weight: 400;
    background-color: #EBDCB2;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0px 15px;
}

a {
    text-decoration: none;
}

.button {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 7px;
    color: #C9A66B;
    padding: 10px 56px 8px 55px;
    background-color: #AF4425;
    outline: none;
    border: none;
    cursor: pointer;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    color:#661E1C;
    text-align: center;
    text-transform: uppercase;
}

/* Header */
.header {
    padding-top: 33px;
    font-family: 'Architects Daughter', cursive;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__body_logo {
    display: flex;
    align-items: center;
}

.header__logo {
    padding: 2px 6px 8px 5px;
    background-color: #C9A66B;
    color: #661E1C;
    border-radius: 12px;
    margin-right: 30px;
}

.header__logo_text {
    font-size: 38px;
    letter-spacing: 7px;
    color: #661E1C;
}

.header__menu a {
    color: #661E1C;
    font-size: 24px;
    letter-spacing: 3px;
    margin-right: 52px;
    transition: all 0.2s;
}

.header__menu a:hover {
    padding-bottom: 2px;
    border-bottom: 2px solid #AF4425;
}

.header__menu a:last-child {
    margin-right: 0;
}

/* products */
.products {
    margin: 100px 0px;
}

.products_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products_left:first-child {
    margin-bottom: 104px;
}

.products_left {
    max-width: 380px;
}

.products_left_element:nth-child(1) h2 {
    margin-bottom: 47px;
}

.products_left_element:nth-child(2) h2 {
    margin-bottom: 22px;
}

.products_left_element:nth-child(3) h2 {
    margin-bottom: 14px;
    text-align: center;
    text-transform: none;
}

.products_left_element:first-child {
    margin-bottom: 104px;
}

.products_left_element:nth-child(2) {
    margin-bottom: 72px;
}

.products_left h2 {
    font-size: 30px;
    color: #661E1C;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.products_left p {
    font-size: 24px;
    color: #AF4425;
    line-height: 32px;
    letter-spacing: 0.5px;
}

.products_left {

}

.products_right {
    max-width: 520px;
}

.products_right h2 {
    font-size: 40px;
    color: #661E1C;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    line-height: 54px;
    letter-spacing: 2px;
}

.products_right img {
    padding: 24px 29px 24px 27px;
    background-color: #C9A66B;
    border-radius: 113px;
   
}

.products_right p {
    font-size: 24px;
    color: #AF4425;
    text-align: center;
    line-height: 44px;
    letter-spacing: 2px;
}

.products_right {
    max-width: 520px;
}

/* AboutUs */
.aboutUs {
    padding-bottom: 97px;
}

.aboutUs__wrapper {
    margin-top: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutUs_left {
    width: 393px;
}

.aboutUs_left h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #661E1C;
    margin-bottom: 26px;
}

.aboutUs_left p {
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 5px;
    color: #AF4425;
}

.aboutUs_right {
    width: 479px;
}

.aboutUs_right h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #661E1C;
    margin-bottom: 26px;
}

.aboutUs_right_element_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.aboutUs_right_element_text p {
    font-size: 20px;
    color: #661E1C;
    text-transform: uppercase;
}

.aboutUs_right_element_text span {
    font-size: 20px;
    letter-spacing: 3px;
    color: #661E1C;
}

.aboutUs_right_element {
    margin-bottom: 58px;
}

.aboutUs_right_element:last-child {
    margin-bottom: 0;
}

.progress {
    width: 100%;
    height: 6px;
    background-color: #AF4425;
    color: #AF4425;
}

progress::-webkit-progress-value {
    background: #AF4425;
}

progress::-webkit-progress-bar {
    background: #C9A66B;
}

/* contacts */
.contacts {
    padding-bottom: 103px;
}

.contacts__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 85px;
}

.contacts_left {

}

.contacts_left h2 {
    font-size: 30px;
    color: #661E1C;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.contacts_left_element {
    display: flex;
    align-items: center;
}

.contacts_left_element:last-child {
    margin-top: 18px;
}

.contacts_left_element:nth-child(2) img {
    margin-right: 8px;
}

.contacts_left_element:nth-child(3) img {
    margin-right: 12px;
}

.contacts_left_element a {
    font-size: 24px;
    color: #AF4425;
}

.contacts_right {
    width: 395px;
}

.contacts_right h2 {
    font-size: 30px;
    color: #661E1C;
    text-align: center;
    margin-bottom: 14px;
    line-height: 32px;
    letter-spacing: 1px;
}

/* Footer */
.footer {
    background-color: #661E1C;
    padding: 44px 0px;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_left {
    width: 470px;
}

.footer_left_element {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer_left_element:last-child {
    margin-top: 41px;
}

.footer_left a {
    font-size: 40px;
    color: #C9A66B;
}

.footer a:hover {
    text-decoration: underline;
}

.footer_right {
    display: grid; 
    align-items: center;
    grid-template-columns: repeat(4, auto);
    grid-gap: 60px;
}

/* popup */

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(229, 229, 229, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__content {
    background-color: #AF4425;
    position: relative;
}

.popup__close {
    top: 0;
    right: 0;
    position: absolute;
    padding: 5px 7px;
    border: 3px solid #EBDCB2;
    font-weight: 600;
    color: #EBDCB2;
    font-size: 16px;
    text-transform: uppercase;
}

.popup__title {
    font-size: 36px;
    color: #C9A66B;
    text-transform: uppercase;
    padding: 30px 26px 22px 27px;
}

.form {
    padding: 40px 0px 64px 0px;
    background-color: #C9A66B;
    font-size: 36px;
    color: #661E1C;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup span {
    color: #000;
    padding: 22px;
}

.popup input {
    background-color: #EBDCB2;
    outline: none;
    border: 0;
    margin-top: 6px;
    color: red;
}

label, input {
    display: block;
}

.popup__button {
    margin-top: 30px;
}

.header__burger {
    display: none;
}

/* 900px */
@media screen and (max-width: 970px) {
    /* Header */
    .header {
        padding-top: 50px;
    }
    .header__logo {
        padding: 2px 4px 6px 3px;
        margin-right: 23px;
    }
    .header__logo_text {
        font-size: 25px;
        letter-spacing: 7px;
        color: #661E1C;
    } 
    .header__menu a {
        color: #661E1C;
        font-size: 22px;
        letter-spacing: 3px;
        margin-right: 25px;
        transition: all 0.2s;
    }
    
    .header__menu a:hover {
        padding-bottom: 2px;
        border-bottom: 2px solid #AF4425;
    }
    
    .header__menu a:last-child {
        margin-right: 0;
    }

    /* products */
    .products {
        margin: 100px 0px;
        text-align: center;
    }
    
    .products_container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .products_left:first-child {
        margin-bottom: 104px;
    }
    
    .products_left {
        max-width: 420px;
    } 
    
    .products_left_element:first-child {
        margin-bottom: 100px;
    }
    
    .products_left_element:nth-child(2) {
        margin-bottom: 70px;
    }
    
    .products_left h2 {
        font-size: 30px;
        color: #661E1C;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
    .products_left p {
        font-size: 24px;
        color: #AF4425;
        line-height: 32px;
        letter-spacing: 0.5px;
    }
    
    .products_left {
    
    }
    
    .products_right {
        max-width: 520px;
    }
    
    .products_right h2 {
        font-size: 40px;
        color: #661E1C;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
        line-height: 54px;
        letter-spacing: 2px;
    }
    
    .products_right img {
        padding: 24px 29px 24px 27px;
        background-color: #C9A66B;
        border-radius: 113px;
       
    }
    
    .products_right p {
        font-size: 24px;
        color: #AF4425;
        text-align: center;
        line-height: 44px;
        letter-spacing: 2px;
    }
    
    .products_right {
        max-width: 520px;
    }

    /* aboutUs */
    .aboutUs {
        padding-bottom: 97px;
    }
    .aboutUs__wrapper {
        flex-direction: column;
    }
    
    .aboutUs_left {
        text-align: center;
        width: 425px;
        margin-bottom: 81px;
    }
    
    .aboutUs_left h2 {
        font-size: 30px;
        text-transform: uppercase;
        color: #661E1C;
        margin-bottom: 26px;
    }
    
    .aboutUs_left p {
        font-size: 24px;
        line-height: 35px;
        letter-spacing: 5px;
        color: #AF4425;
    }
    
    .aboutUs_right {
        width: 420px;
    }
    
    .aboutUs_right h2 {
        font-size: 30px;
        text-transform: uppercase;
        color: #661E1C;
        margin-bottom: 26px;
    }
    
    .aboutUs_right_element_text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    
    .aboutUs_right_element_text p {
        font-size: 20px;
        color: #661E1C;
        text-transform: uppercase;
    }
    
    .aboutUs_right_element_text span {
        font-size: 20px;
        letter-spacing: 3px;
        color: #661E1C;
    }
    
    .aboutUs_right_element {
        margin-bottom: 58px;
    }
    
    .aboutUs_right_element:last-child {
        margin-bottom: 0;
    }
    
    .progress {
        width: 100%;
        height: 6px;
        background-color: #AF4425;
        color: #AF4425;
    }
    
    progress::-webkit-progress-value {
        background: #AF4425;
    }
    
    progress::-webkit-progress-bar {
        background: #C9A66B;
    }
    
    /* Contacts */
    .contacts {
        padding-bottom: 103px;
    }
    
    .contacts__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 85px;
    }
    
    .contacts_left {
        margin-bottom: 80px;
    }
    
    .contacts_left h2 {
        font-size: 30px;
        color: #661E1C;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 28px;
    }
    
    .contacts_left_element {
        display: flex;
        align-items: center;
    }
    
    .contacts_left_element:last-child {
        margin-top: 18px;
    }
    
    .contacts_left_element:nth-child(2) img {
        margin-right: 8px;
    }
    
    .contacts_left_element:nth-child(3) img {
        margin-right: 12px;
    }
    
    .contacts_left_element a {
        font-size: 24px;
        color: #AF4425;
    }
    
    .contacts_right {
        width: 395px;
    }
    
    .contacts_right h2 {
        font-size: 30px;
        color: #661E1C;
        text-align: center;
        margin-bottom: 14px;
        line-height: 32px;
        letter-spacing: 1px;
    }

    /* Footer */
    .footer {
        background-color: #661E1C;
        padding: 44px 0px;
    }
    
    .footer__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .footer_left {
        width: 417px;
    }
    
    .footer_left_element {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .footer_left_element:last-child {
        margin-top: 41px;
    }
    
    .footer_left a {
        font-size: 40px;
        color: #C9A66B;
    }
    
    .footer a:hover {
        text-decoration: underline;
    }
    
    .footer_right {
        width: 150px;
        display: grid; 
        align-items: center;
        justify-content: space-between;
        grid-template-columns: repeat(2, auto);
        grid-gap: 30px;
    }

    .footer_right:first-child img {
        background-color: red;
    }
}


@media screen and (max-width: 800px) {
    /* Header */
.header {
    padding-top: 25px;
}
.header__menu {
    display: none;
}
.header__burger {
    display: block;
    width: 35px;
    height: 35px;
    background-color: #661E1C;
    position: relative;
    cursor: pointer;
    border-radius: 7px;
    z-index: 10;
}
.header__burger span,
.header__burger span::before,
.header__burger span::after {
    width: 20px;
    height: 2px;
    background-color: #C9A66B;
    display: block;
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
}
.header__burger span::before,
.header__burger span::after {
    content: '';
    transition: all 0.4s ease 0s;
}
.header__burger span::before {
    transform: translateY(-6px);
}
.header__burger span::after {
    transform: translateY(6px);
}
.header__burger_active span::before {
    transform: rotate(-135deg);
}
.header__burger_active span {
    height: 0;
}
.header__burger_active span::after {
    transform: rotate(135deg);
}
.header__logo {
    padding: 1px 3px 6px 2px;
    background-color: #C9A66B;
    color: #661E1C;
    border-radius: 20px;
    margin-right: 17px;
}
.header__logo_text {
    font-size: 26px;
    letter-spacing: 7px;
    color: #661E1C;
}

.header__menu a {
    color: #661E1C;
    font-size: 24px;
    letter-spacing: 3px;
    margin-right: 52px;
    transition: all 0.2s;
}

.header__menu a:hover {
    padding-bottom: 2px;
    border-bottom: 2px solid #AF4425;
}

.header__menu a:last-child {
    margin-right: 0;
}


.adaptive-menu {
    position: absolute;
    right: 14px;
    top: 45px;
    width: 166px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C9A66B;
    border-radius: 7px;
    transition: all 0.4s ease 0s;
    opacity: 0;
}

.adaptive-menu_active {
    opacity: 10;
}

.adaptive-menu a {
    margin: 33px;
    font-size: 20px;
    color: #661E1C;
    border-bottom: 1px;
    
}

/* products */
.products {
    margin: 82px 0px;
}
.products_container {
    flex-direction: column-reverse;
}

.products_left:first-child {
    margin-bottom: 104px;
}

.products_left {
    max-width: 380px;
}

.products_left_element:nth-child(1) h2 {
    margin-bottom: 10px;
}

.products_left_element:nth-child(2) h2 {
    margin-bottom: 10px;
}

.products_left_element:nth-child(3) h2 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: none;
}

.products_left_element:first-child {
    margin-bottom: 38px;
}

.products_left_element:nth-child(2) {
    margin-bottom: 46px;
}

.products_left h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.products_left p {
    font-size: 15px;
    line-height: 20px;
}

.products_left {
    margin-top: 66px;
}
.products_right {
    max-width: 520px;
}
.products_right h2 {
    font-size: 22px;
    margin-bottom: 16px;
    line-height: 29px;
}

.products_right img {
    padding: 14px 18px 14px 17px;
    background-color: #C9A66B;
    width: 268px;
    height: 275px;
    border-radius: 113px;
   
}

.products_right p {
    font-size: 13px;
    color: #AF4425;
    text-align: center;
    line-height: 44px;
    letter-spacing: 2px;
}

.products_right {
    max-width: 520px;
}

/* AboutUs */
.aboutUs {
    padding-bottom: 97px;
}

.aboutUs__wrapper {
    margin-top: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutUs_left {
    width: 393px;
}

.aboutUs_left h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #661E1C;
    margin-bottom: 26px;
}

.aboutUs_left p {
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 5px;
    color: #AF4425;
}

.aboutUs_right {
    width: 303px;
}

.aboutUs_right h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 26px;
}

.aboutUs_right_element_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;
}

.aboutUs_right_element_text p {
    font-size: 15px;
    color: #661E1C;
    text-transform: uppercase;
}

.aboutUs_right_element_text span {
    font-size: 15px;
    letter-spacing: 3px;
    color: #661E1C;
}

.aboutUs_right_element {
    margin-bottom: 45px;
}

.aboutUs_right_element:last-child {
    margin-bottom: 0;
}

.progress {
    width: 100%;
    height: 6px;
    background-color: #AF4425;
    color: #AF4425;
}

progress::-webkit-progress-value {
    background: #AF4425;
}

progress::-webkit-progress-bar {
    background: #C9A66B;
}


/* Footer */
.footer {
    background-color: #661E1C;
    padding: 31px 20px;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_left {
    width: 470px;
}

.footer_left_element {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer_left_element:last-child {
    margin-top: 0px;
}

.footer_left a {
    font-size: 32px;
    color: #C9A66B;
    margin-bottom: 22px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer_right {
    display: grid; 
    align-items: center;
    grid-template-columns: repeat(1, auto);
    grid-gap: 13px;
}


/* button */

.button {
    display: block;
    text-transform: uppercase;
    font-size: 34px;
    letter-spacing: 7px;
    color: #C9A66B;
    padding: 10px 36px 8px 35px;
    background-color: #AF4425;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

}

@media screen and (max-width: 400px) {
    .button {
        margin: auto;
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 24px;
        letter-spacing: 7px;
        color: #C9A66B;
        padding: 8px 26px 8px 26px;
        width: 200px;
        background-color: #AF4425;
        outline: none;
        border: none;
        cursor: pointer;
    }
    .aboutUs_left {
        width: 300px;
    }

    /* contacts */
.contacts__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 85px;
}

.contacts_left {

}

.contacts_left h2 {
    font-size: 20px;
    color: #661E1C;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.contacts_left_element {
    display: flex;
    align-items: center;
}

.contacts_left_element:last-child {
    margin-top: 18px;
}

.contacts_left_element:nth-child(2) img {
    margin-right: 8px;
}

.contacts_left_element:nth-child(3) img {
    margin-right: 12px;
}

.contacts_left_element a {
    font-size: 20px;
    color: #AF4425;
}

.contacts_right {
    width: 250px;
}

.contacts_right h2 {
    font-size: 22px;
    color: #661E1C;
    text-align: center;
    margin-bottom: 14px;
    line-height: 32px;
    letter-spacing: 1px;
}
.aboutUs_right {
    width: 250px;
}
    
}